{% extends 'base.html.twig' %}
{% block styles %}
<link rel="stylesheet" href="../dist/assets/css/style.css">
<link rel="stylesheet" href="../../dist/assets/css/style.css">
{% endblock %} 
{% block body %}
<hr/>
{% if article %}
<h3 class="mb-3">Page Article  # {{ article.id }}</h3>
<div class="card text-center">
  <div class="card-body">
<form method="post" enctype="multipart/form-data">
<div class="form-group">
<label for="title">Titre :</label>
<input type="text" name="title" value="{{ article.title }}" class="form-control">
</div>
<div class="form-group">
<label for="content">Contenu :</label>
<textarea name="content" class="form-control">{{ article.content }}</textarea>
</div>
<div class="form-group">
{% if article.img != null %}
<hr/>
<p>Image actuelle :</p>
<img src="../../{{ article.img }}" class="img mt-3" alt="Mon image" />
{% endif %}
<hr/>
<p>Modifier</p>
<label for="file" class="label-file mb-3"><i class="fas fa-download"></i></label>
<input type="file" class="input-file" name="file" id="file"/>
 <p class="browse"><strong>Taille maximale :</strong> 1 MO.</p>
    <p class="browse"><strong>Formats supportés :</strong> png</p>
</div>

<hr/>
<label for="category">Categorie : </label>
<select class="mt-3 form-select" name="category" aria-label="category">
{% for category in categorys %}
  <option value="{{ category.id }}" {{ article.id_category == category.id ? "selected" : ""}}>{{ category.title }}</option>
{% endfor %}
</select>
<hr/>
<label for="state">Status : </label>
<select class="mt-3 form-select" name="state" aria-label="state">
  <option value="0" {{ article.state == false ? "selected" : ""}}>En attente</option>
  <option value="1" {{ article.state == true ? "selected" : ""}}>Valider</option>
</select>
<input type="hidden" name="id" value="{{ article.id }}">
<div class="text-center mt-3">
<button type="submit" class="btn btn-outline-success" name="btnUpdate">Modifier</button>
    <a href="/public/article/view/{{ article.id }}" class="btn btn-outline-warning">Annuler</a>
</div>
</form>
  </div>
</div>
{% else %}
<h3 class="mb-3">Créer l'article {{ count.id + 1 }}</h3>
<div class="card text-center">
  <div class="card-body">
<form method="post" enctype="multipart/form-data">
<div class="form-group">
<label for="title">Titre :</label>
{% if error.title %}
<p class="text-danger">{{ error.title }}</p>
{% endif %}
<input type="text" name="title" value="" class="form-control">
</div>
<div class="form-group">
{% if error.content %}
<p class="text-danger">{{ error.content }}</p>
{% endif %}
<label for="content">Contenu :</label>
<textarea name="content" class="form-control"></textarea>
</div>
<div class="form-group">
<hr/>
{% if error.file %}
<p class="text-danger">{{ error.file }}</p>
{% endif %}
<label for="file" class="label-file mb-3"><i class="fas fa-download"></i></label>
<input type="file" class="input-file" name="file" id="file"/>
 <p class="browse"><strong>Taille maximale :</strong> 1 MO.</p>
    <p class="browse"><strong>Formats supportés :</strong> png</p>
</div>
<hr/>
{% if error.category %}
<p class="text-danger">{{ error.category }}</p>
{% endif %}
<label for="category">Categorie : </label>
<select class="mt-3 form-select" name="category" aria-label="category" required>
  <option value="0" selected>Choisir</option>
    {% for category in categorys %}
  <option value="{{ category.id }}">{{ category.title }}</option>
  {% endfor %}  
</select>
<hr/>
<label for="state">Status : </label>
<select class="mt-3 form-select" name="state" aria-label="state">
  <option value="0">En attente</option>
  <option value="1">Valider</option>
</select>

<div class="text-center mt-3">
<button type="submit" class="btn btn-outline-success" name="btnCreate">Créer</button>
</div>
</form>
  </div>
</div>
{% endif %}
<hr/>
{% endblock %}
